<span>
    <span class="bg-indigo-300
    text-indigo-950 text-xs font-medium me-2 px-2.5 py-0.5
    rounded-sm dark:bg-indigo-700 dark:text-indigo-200 shadow-lg hover:bg-yellow-200
    hover:text-yellow-800 transition-all duration-200"
    >
    <slot/> 
</span>