
<div class="flex justify-center items-center w-full max-w-3xl mx-auto">
<ol class="relative border-s border-white/20 dark:border-white/20">  
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white/90"></div>
        <time class="mb-1 text-sm font-normal leading-none text-white/80 dark:text-white/80">Actualmente...</time>
        <h3 class="text-lg font-semibold text-yellow-200 dark:text-yellow-200">Estudiante DAM DUAL</h3>
        <p class="text-base font-normal text-white dark:text-white">Aprendiendo todo tipo de leguajes como Java,JS...</p>
        <br>
    </li>               
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white/90"></div>
        <time class="mb-1 text-sm font-normal leading-none text-white/80 dark:text-white/80">Accude T.I Madrid (May 2022-Octubre 2024)</time>
        <h3 class="text-lg font-semibold text-yellow-200 dark:text-yellow-200">TÉCNICO INFORMÁTICO</h3>
        <ul class="list-disc pl-5 mb-4 text-base font-normal text-white dark:text-white">
            <li>Resolución de incidencias y peticiones</li>
            <li>Trabajando en KPMG desde Febrero 2023 hasta Octubre de 2024</li>
            <li>Trabajando para empresas como El Corte Inglés, Disney y Santander</li>
        </ul>
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white/90"></div>
        <time class="mb-1 text-sm font-normal leading-none text-white/80 dark:text-white/80">Job & Talent S.L, Madrid (Feb.2022-Marz.2022)</time>
        <h3 class="text-lg font-semibold text-yellow-200 dark:text-yellow-200">TÉCNICO INFORMÁTICO</h3>
        <p class="text-base font-normal text-white dark:text-white">Encargado de realizar la migración en Liberbank por fusión.</p>
    </li>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white dark:border-white dark:bg-white/90"></div>
        <time class="mb-1 text-sm font-normal leading-none text-white/80 dark:text-white/80">TÉCNICO EN TELECOMUNICACIONES (Sep.2020-Jun.2021)</time>
        <h3 class="text-lg font-semibold text-yellow-200 dark:text-yellow-200">SmartLabs S.L Madrid </h3>
        <p class="text-base font-normal text-white dark:text-white">Gestionando de empaquetado y reparaciones de equipos informáticos y periféricos.</p>
    </li>
</ol>
</div>