---
import "@fontsource-variable/onest";
import Header from '../components/Header.astro';


---






<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
			
	

		</header>
		<slot />
	</body>
</html>

<style>
	:root {
		color-scheme: light dark; /* Ayudara a trabajar con el color oscuro. Dado que en el body
		tenemos un black. */
	}

	body {
		background-color: #050505;
		display: flex;
		justify-content: center;
		min-height: 100vh;
		margin: 0 auto;
		
	}
	html {
		font-family: "Onest Variable", sans-serif;
	}

	#foto_perfil {
		border-radius: 100%;
		width: 3rem;
		height: 3rem;
	}
	nav {
		display: flex;
		gap: 1rem;
	}
</style>
