---
import "@fontsource-variable/onest";
import Header from '../components/Header.astro';
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div 
    class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(99,102,241,0.3),rgba(139,92,246,0.3),rgba(0,0,0,0))]">
	</div>

		</header>
		<slot />
	</body>
</html>

<style>
	:root {
		color-scheme: light dark; /* Ayudara a trabajar con el color oscuro. Dado que en el body
		tenemos un black. */
	}

	body {
		
		background-color: #050505;
		display: flex;
		justify-content: center;
		min-height: 100vh;
		margin: 0 auto;
		

		
	}
	html {
		font-family: "Onest Variable", sans-serif;
		scroll-behavior: smooth;
	}

	#foto_perfil {
		border-radius: 100%;
		width: 3rem;
		height: 3rem;
	}
	nav {
		display: flex;
		gap: 1rem;
	}
	@media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
</style>
